---
export const _InputBase = `
<form class="ga1">
  <input type='file' id='file_input'>
  <input type="text" name="name" placeholder="Namcid prequnts..." required/>
  <textarea rows="6" placeholder="Nisi vitae suscipit"></textarea>
  <input type="submit" value="Send" />
</form>
`;
---

<form class="ga1">
  <input type="file" id="file_input" />
  <input type="text" name="name" placeholder="Namcid prequnts..." required />
  <textarea rows="6" placeholder="Nisi vitae suscipit"></textarea>
  <input type="submit" value="Send" />
</form>
