/* gap  */

.g-0 {
  gap: 0;
}
.g-1 {
  gap: calc(0.313rem * 1);
}
.g-2 {
  gap: calc(0.313rem * 2);
}
.g-3 {
  gap: calc(0.313rem * 3);
}
.g-4 {
  gap: calc(0.313rem * 4);
}
.g-5 {
  gap: calc(0.313rem * 5);
}
.g-6 {
  gap: calc(0.313rem * 6);
}
.g-7 {
  gap: calc(0.313rem * 7);
}
.g-8 {
  gap: calc(0.313rem * 8);
}
.g-9 {
  gap: calc(0.313rem * 9);
}
.g-10 {
  gap: calc(0.313rem * 10);
}
.g-11 {
  gap: calc(0.313rem * 11);
}
.g-12 {
  gap: calc(0.313rem * 12);
}
.g-13 {
  gap: calc(0.313rem * 13);
}
.g-14 {
  gap: calc(0.313rem * 14);
}
.g-15 {
  gap: calc(0.313rem * 15);
}
.g-16 {
  gap: calc(0.313rem * 16);
}
.g-17 {
  gap: calc(0.313rem * 17);
}
.g-18 {
  gap: calc(0.313rem * 18);
}
.g-19 {
  gap: calc(0.313rem * 19);
}
.g-20 {
  gap: calc(0.313rem * 20);
}
.g-21 {
  gap: calc(0.313rem * 21);
}
.g-22 {
  gap: calc(0.313rem * 22);
}
.g-23 {
  gap: calc(0.313rem * 23);
}
.g-24 {
  gap: calc(0.313rem * 24);
}
.g-25 {
  gap: calc(0.313rem * 25);
}
