/* height ---------------------------------------------------------*/

.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}

.h-0 {
  height: 0;
}
.h-1 {
  height: calc(1.25rem * 1);
}
.h-2 {
  height: calc(1.25rem * 2);
}
.h-3 {
  height: calc(1.25rem * 3);
}
.h-4 {
  height: calc(1.25rem * 4);
}
.h-5 {
  height: calc(1.25rem * 5);
}
.h-6 {
  height: calc(1.25rem * 6);
}
.h-7 {
  height: calc(1.25rem * 7);
}
.h-8 {
  height: calc(1.25rem * 8);
}
.h-9 {
  height: calc(1.25rem * 9);
}
.h-10 {
  height: calc(1.25rem * 10);
}
.h-11 {
  height: calc(1.25rem * 11);
}
.h-12 {
  height: calc(1.25rem * 12);
}
.h-13 {
  height: calc(1.25rem * 13);
}
.h-14 {
  height: calc(1.25rem * 14);
}
.h-15 {
  height: calc(1.25rem * 15);
}
.h-16 {
  height: calc(1.25rem * 16);
}
.h-17 {
  height: calc(1.25rem * 17);
}
.h-18 {
  height: calc(1.25rem * 18);
}
.h-19 {
  height: calc(1.25rem * 19);
}
.h-20 {
  height: calc(1.25rem * 20);
}
.h-21 {
  height: calc(1.25rem * 21);
}
.h-22 {
  height: calc(1.25rem * 22);
}
.h-23 {
  height: calc(1.25rem * 23);
}
.h-24 {
  height: calc(1.25rem * 24);
}
.h-25 {
  height: calc(1.25rem * 25);
}
.h-26 {
  height: calc(1.25rem * 26);
}
.h-27 {
  height: calc(1.25rem * 27);
}
.h-28 {
  height: calc(1.25rem * 28);
}
.h-29 {
  height: calc(1.25rem * 29);
}
.h-30 {
  height: calc(1.25rem * 30);
}
.h-31 {
  height: calc(1.25rem * 31);
}
.h-32 {
  height: calc(1.25rem * 32);
}
.h-33 {
  height: calc(1.25rem * 33);
}
.h-34 {
  height: calc(1.25rem * 34);
}
.h-35 {
  height: calc(1.25rem * 35);
}
.h-36 {
  height: calc(1.25rem * 36);
}
.h-37 {
  height: calc(1.25rem * 37);
}
.h-38 {
  height: calc(1.25rem * 38);
}
.h-39 {
  height: calc(1.25rem * 39);
}
.h-40 {
  height: calc(1.25rem * 40);
}
.h-41 {
  height: calc(1.25rem * 41);
}
.h-42 {
  height: calc(1.25rem * 42);
}
.h-43 {
  height: calc(1.25rem * 43);
}
.h-44 {
  height: calc(1.25rem * 44);
}
.h-45 {
  height: calc(1.25rem * 45);
}
.h-46 {
  height: calc(1.25rem * 46);
}
.h-47 {
  height: calc(1.25rem * 47);
}
.h-48 {
  height: calc(1.25rem * 48);
}
.h-49 {
  height: calc(1.25rem * 49);
}
.h-50 {
  height: calc(1.25rem * 50);
}
