/* hover and opacity */

.opacity {
  opacity: 0.25;
  transition: 0.2s;
}

.hover:hover {
  border-radius: 0;
  outline: 0.25rem solid var(--th-highlight);
}

/* box-shadow */

.bs-a {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bs-b {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.bs-c {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
