/* width ---------------------------------------------------------*/

.wiFull {
  width: 100%;
}
.wiScreen {
  width: 100vw;
}

.wi0 {
  width: 0;
}
.wi1 {
  width: calc(1.25rem * 1);
}
.wi2 {
  width: calc(1.25rem * 2);
}
.wi3 {
  width: calc(1.25rem * 3);
}
.wi4 {
  width: calc(1.25rem * 4);
}
.wi5 {
  width: calc(1.25rem * 5);
}
.wi6 {
  width: calc(1.25rem * 6);
}
.wi7 {
  width: calc(1.25rem * 7);
}
.wi8 {
  width: calc(1.25rem * 8);
}
.wi9 {
  width: calc(1.25rem * 9);
}
.wi10 {
  width: calc(1.25rem * 10);
}
.wi11 {
  width: calc(1.25rem * 11);
}
.wi12 {
  width: calc(1.25rem * 12);
}
.wi13 {
  width: calc(1.25rem * 13);
}
.wi14 {
  width: calc(1.25rem * 14);
}
.wi15 {
  width: calc(1.25rem * 15);
}
.wi16 {
  width: calc(1.25rem * 16);
}
.wi17 {
  width: calc(1.25rem * 17);
}
.wi18 {
  width: calc(1.25rem * 18);
}
.wi19 {
  width: calc(1.25rem * 19);
}
.wi20 {
  width: calc(1.25rem * 20);
}
.wi21 {
  width: calc(1.25rem * 21);
}
.wi22 {
  width: calc(1.25rem * 22);
}
.wi23 {
  width: calc(1.25rem * 23);
}
.wi24 {
  width: calc(1.25rem * 24);
}
.wi25 {
  width: calc(1.25rem * 25);
}
.wi26 {
  width: calc(1.25rem * 26);
}
.wi27 {
  width: calc(1.25rem * 27);
}
.wi28 {
  width: calc(1.25rem * 28);
}
.wi29 {
  width: calc(1.25rem * 29);
}
.wi30 {
  width: calc(1.25rem * 30);
}
.wi31 {
  width: calc(1.25rem * 31);
}
.wi32 {
  width: calc(1.25rem * 32);
}
.wi33 {
  width: calc(1.25rem * 33);
}
.wi34 {
  width: calc(1.25rem * 34);
}
.wi35 {
  width: calc(1.25rem * 35);
}
.wi36 {
  width: calc(1.25rem * 36);
}
.wi37 {
  width: calc(1.25rem * 37);
}
.wi38 {
  width: calc(1.25rem * 38);
}
.wi39 {
  width: calc(1.25rem * 39);
}
.wi40 {
  width: calc(1.25rem * 40);
}
.wi41 {
  width: calc(1.25rem * 41);
}
.wi42 {
  width: calc(1.25rem * 42);
}
.wi43 {
  width: calc(1.25rem * 43);
}
.wi44 {
  width: calc(1.25rem * 44);
}
.wi45 {
  width: calc(1.25rem * 45);
}
.wi46 {
  width: calc(1.25rem * 46);
}
.wi47 {
  width: calc(1.25rem * 47);
}
.wi48 {
  width: calc(1.25rem * 48);
}
.wi49 {
  width: calc(1.25rem * 49);
}
.wi50 {
  width: calc(1.25rem * 50);
}
