---
import image from "@assets/images/shoes.jpg";
export const _ButtonHoriz = `
<article class="diFlex aiStart pa1 bgWhite boRegular bcBorder ra1 wi18">
  <figure>
    <img class="ra1 wiFull he4 wi4 ofCover" src={image.src} alt="#" />
  </figure>
  <div class="ma3">
    <p class="fwBold mb1 fs2 ftUpper">Smart TV</p>
    <p>Sed ornare turpis leo, sit amet hendrerit leosit amet.</p>
  </div>
</article>
`;
---

<article class="diFlex aiStart pa1 bgWhite boRegular bcBorder ra1 wi18">
  <figure>
    <img class="ra1 wiFull he4 wi4 ofCover" src={image.src} alt="#" />
  </figure>
  <div class="ma3">
    <p class="fwBold mb1 fs2 ftUpper">Smart TV</p>
    <p>Sed ornare turpis leo, sit amet hendrerit leosit amet.</p>
  </div>
</article>
