---
import image from "@assets/images/shoes.jpg";
---

<article class="pa1 bgSecondary boRegular bcBorder ra1 wi18">
  <figure>
    <img class="ra1 wiFull" src={image.src} alt="#" />
  </figure>
  <div class="ma3">
    <p class="fwBold fs2 mb1 ftUpper">Smart TV</p>
    <p>Sed ornare turpis leo, sit amet hendrerit leosit amet.</p>
    <footer class="diFlex jcBetween aiCenter">
      <p class="fs4 fwMedium mb0">$ 1250</p>
      <button>Add to cart</button>
    </footer>
  </div>
</article>
