---
const data = [{ url: "/", title: "Home" }];

const { pCrumbs = data } = Astro.props;
---

<nav class="diFlex">
  {
    pCrumbs.map((elem) => (
      <>
        <a class="mr1" href={elem.url}>
          {elem.title}
        </a>
        <span class="mr1">/</span>
      </>
    ))
  }
</nav>
