---
const { source } = Astro.props;
---

<section>
  <div class="p-2 r-1 b-regular">
    <slot />
  </div>
  <details class="mt-2 mx-5 r-1">
    <summary>Show source</summary>
    <div>
      <div>
        <!-- <p class="fc-Secondary ba-blue r-1 mb-0 py-1 px-4 ft-uppercase">Html</p> -->
        <pre>
        <code class="o-auto">{source}</code>
        </pre>
      </div>
    </div>
  </details>
</section>
