---
export const buttonBase = `
<!-- Default -->
<button>Default</button>

<!-- Ghost -->
<button class="boMedium baLight fcShadow">Ghost</button>

<!-- Dashed -->
<button class="boMedium baSecondary bsDashed bcText fcText">Dashed</button>

<!-- Outline -->
<button class="boRegular bcBorder baSecondary fcText">Outline</button>

<!-- Tonal -->
<button class="baBorder fcText">Tonal</button>
`;
---

<!-- Default -->
<button>Default</button>

<!-- Ghost -->
<button class="boMedium baLight fcShadow">Ghost</button>

<!-- Dashed -->
<button class="boMedium baSecondary bsDashed bcText fcText">Dashed</button>

<!-- Outline -->
<button class="boRegular bcBorder baSecondary fcText">Outline</button>

<!-- Tonal -->
<button class="baBorder fcText">Tonal</button>
